@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ColorPrimary: #121933;
  --SecondaryColor: #9cf687;
  --ThirdColor: #c1d417;
}

h1, h2, h3, h4, h6, h6, p {
  margin-bottom: 1rem;
}

.container {
  max-width: 1300px;
  padding-inline: 1rem;
  margin-inline: auto;
}

.btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  display: inline-block;
  flex-wrap: nowrap;
  color: var(--ColorPrimary);
  background-color: var(--ThirdColor);
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
}

body {
  background-color: #f3f3f3;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.header_wrap {
  background-color: var(--ColorPrimary);
  padding-block: 1rem;
}
.header_wrap .header_inner-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.header_wrap .header_inner-wrap picture {
  margin-right: auto;
}
.header_wrap .header_inner-wrap picture img {
  width: auto;
  height: 2.5rem;
}
.header_wrap .header_inner-wrap ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_wrap .header_inner-wrap ul a {
  padding: 0.5rem 1rem;
  color: var(--SecondaryColor);
  text-decoration: none;
  display: inline-block;
}
.header_wrap .header_inner-wrap ul a:hover {
  color: color-mix(in srgb, var(--SecondaryColor), black 30%);
  transition: all 0.3s ease-in-out;
}
.header_wrap .header_inner-wrap .btn_header-primary:hover {
  background-color: color-mix(in srgb, var(--ThirdColor), black 25%);
  transition: all 0.3s ease-in-out;
}
.header_wrap .header_inner-wrap .nav_button {
  background-color: transparent;
  color: white;
  font-size: 2rem;
}
.header_wrap .header_inner-wrap .nav_button:active {
  background-color: color-mix(in srgb, var(--ThirdColor), black 40%);
  transition: all 0.3s ease-in-out;
}

.top_banner-inner {
  position: relative;
  overflow: hidden;
}
.top_banner-inner .top_banner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  display: block;
  filter: brightness(50%);
}
.top_banner-inner figcaption {
  position: relative;
  color: var(--SecondaryColor);
  padding-block: 15.2rem;
}
.top_banner-inner figcaption p {
  color: white;
}
.top_banner-inner figcaption a {
  color: var(--ColorPrimary);
}
.top_banner-inner figcaption .btn_banner-about:hover {
  background-color: color-mix(in srgb, var(--ThirdColor), black 25%);
  transition: all 0.3s ease-in-out;
}
.top_banner-inner figcaption .btn_banner-whatsapp {
  background-color: transparent;
  border: 0.1rem solid var(--SecondaryColor);
  transition: all 0.3s ease-in-out;
  margin: 0.5rem;
  color: white;
}
.top_banner-inner figcaption .btn_banner-whatsapp img {
  width: 1em;
  height: auto;
}
.top_banner-inner figcaption .btn_banner-whatsapp:hover {
  background-color: var(--ThirdColor);
  transition: all 0.4s ease-in-out;
  color: var(--ColorPrimary);
  border: 0.1rem solid var(--ThirdColor);
}

@media (min-width: 887px) {
  .nav_button {
    display: none;
  }
}
@media (max-width: 886.98px) {
  .header_wrap .header_inner-wrap ul {
    display: none;
    order: 4;
    flex: 100%;
  }
  .header_wrap .header_inner-wrap li {
    flex: 100%;
  }
}/*# sourceMappingURL=main.css.map */