.top_banner-inner {
    position: relative;
    overflow: hidden;

    .top_banner{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: 50% 50%;
        display: block;
        filter: brightness(50%);
    }

    figcaption {
        position: relative;
        color: var(--SecondaryColor);
        padding-block: 15.2rem;
        p {
            color: white;
        }

        a {
            color: var(--ColorPrimary);
        }


        .btn_banner-about:hover {
            background-color: color-mix(in srgb, var(--ThirdColor), black 25%);
            transition: all .3s ease-in-out;
        }

        .btn_banner-whatsapp {
            background-color: transparent;
            border: .1rem solid var(--SecondaryColor);
            transition: all .3s ease-in-out;
            margin: .5rem;

            img {
                width: 1em;
                height: auto;
            }
            color: white;
        }
        
        .btn_banner-whatsapp:hover {
            background-color: var(--ThirdColor);
            transition: all .4s ease-in-out;
            color: var(--ColorPrimary);
            border: .1rem solid var(--ThirdColor);
        }
    }

}